bind_addr = "{{ bind_addr }}"
client_addr = "{{ client_addr }}"
data_dir = "{{ data_dir }}"
encrypt = "{{ encrypt }}"
datacenter = "{{ datacenter }}"
ui = {{ ui }}
leave_on_terminate = {{ leave_on_terminate }}
server = {{ server }}
log_level = "{{ log_level }}"
