<html>
  <head>
    <title>Techiescamp</title>
  </head>
  <body>
    <div class="Devopscube">
      <h1>Techiescamp App</h1>
      <h2>This is the Backend for Load Balancer</h2>
      <p>Hello everyone, This server is configured via Ansible</p>
    </div>
  </body>
</html>
