{
  "bind_addr": "{{ bind_addr }}",
  "data_dir": "{{ data_dir }}",
  "datacenter": "{{ datacenter }}",
  "ui": {{ ui }},
  "leave_on_terminate": {{ leave_on_terminate }},
  "retry_join": {{ retry_join }},
  "server": {{ server }},
  "log_level": "{{ log_level }}"
}
